.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #1e1e1e;
  transition: all 0.35s ease-out;
}

.card:hover .card-img-top::after {
  background-image: radial-gradient(transparent 10%, black);
  transform: translateY(-15px);
  transition: all 0.5s ease-in-out;
}

.card:hover {
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.5);
  transform: translate3D(0, -1px, 0) scale(1.05);
  transition: all 0.35s ease-out;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.card:hover .card-overlay {
  opacity: 1;
}

.card-img-top {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: all 0.35s ease-in-out;
}

.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* border-top: rgba(255, 255, 255, 0.486) 0.05px solid; */
  border-radius: 20px 0 10px 0;
  color: #fff;
  transition: transform 0.5s ease-out;
  transform: translateY(50%);
}

.card:hover .card-body {
  transform: translateY(0);
}

.card-text {
  font-size: 14px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.card-title .text-portal {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  animation: portal 5s linear infinite;
  width: max-content;
}

.genre {
  white-space: nowrap;
}

.metacritic {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.no-score {
  background-color: yellow;
  color: black;
}

.preloader {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #1e1e1e;
  transition: all 0.35s ease-out;
}

.preloader:hover {
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.5);
  transform: translate3D(0, -1px, 0) scale(1.05);
  transition: all 0.35s ease-out;
}

.preloader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.preloader-body {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  transition: transform 0.5s ease;
  transform: translateY(60%);
}

@keyframes portal {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
