.fa-facebook:hover {
  color: #3b5998 !important;
}

.fa-twitter:hover {
  color: #00acee !important;
}

.fa-instagram:hover {
  background: linear-gradient(
    to top right,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  ) !important;
  -webkit-background-clip: text;
  background-clip: text;
  border-radius: 8px;
}
